<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACOcKYen3t9r189cUQ6o5mwrVKFwlpnv8</string>
	<key>GCM_SENDER_ID</key>
	<string>1054513382343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapForEvents</string>
	<key>PROJECT_ID</key>
	<string>mapforevents-3fd0c</string>
	<key>STORAGE_BUCKET</key>
	<string>mapforevents-3fd0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054513382343:ios:ed2716676ec751aa0c4fe2</string>
</dict>
</plist>